<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/DifferentPlaylist.css') }}">

    <title>SongSwap</title>
</head>
<body>
    <body style="background-color:rgb(23, 23, 23);"></body>

        <div class="Top_div">
        
        </div>
        
        <div class="Title_div">
            <p class="Title">
                <img style='vertical-align:middle; scale: 1;' src='/static/Spotify.jpeg'>
                SongSwap
                <img style='vertical-align:middle; scale: 1;' src='/static/YouTube.png'>
            </p>
        </div>

        <div class="Convert_A_Different_Playlist_div">
            <p class="Convert_A_Different_Playlist">
                Convert A Different Playlist
            </p>
        </div>

        <div class="Enter_ID_div">
            <form method="post" action="/differentPlaylist">
                <input class="Enter_ID" type="text", name="playlist_id" placeholder="Playlist ID">
                <input class="Convert" type="submit" value="Convert" name="Convert"/>
            </form>
        </div>

        <div class="Back_div">
            <form method="post" action="/differentPlaylist">
                <input class="Back" type="submit" value="Back" name="Back"/>
            </form>
        </div>

        <div class="Help_div">
            <form method="post" action="/differentPlaylist">
                <input class="Help_Button" type="submit" value="Help" name="Help"/>
            </form>
        </div>
</body>
</html>