<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/PlaylistConverted.css') }}">

    <title>SongSwap</title>
</head>
<body>
    <p class="Empty">{{ main() }}</p>

    <body style="background-color:rgb(23, 23, 23);"></body>

        <div class="Top_div">
        
        </div>
        
        <div class="Title_div">
            <p class="Title">
                <img style='vertical-align:middle; scale: 1;' src='/static/Spotify.jpeg'>
                SongSwap
                <img style='vertical-align:middle; scale: 1;' src='/static/YouTube.png'>
            </p>
        </div>

        <div class="Playlist_Converted_div">
            <p class="Playlist_Converted">
                Playlist Converted!
            </p>
        </div>

        <div class="Open_Playlist_div">
            <form method="post" action="/playlistConverted">
                <input class="Open_Playlist" type="submit" value="Open Playlist" name="open_playlist"/>
            </form>
        </div>

        <div class="Home_Page_div">
            <form method="post" action="/playlistConverted">
                <input class="Home_Page" type="submit" value="Home Page" name="home_page"/>
            </form>
        </div>

        <div class="Help_div">
            <button class="Help_Button">
                Help
            </button>
        </div>
</body>
</html>
